* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#loading {
    display: none;
    text-align: center;
    font-size: 20px;
    color: #007bff;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)), url(https://wallpapercave.com/wp/wp10615928.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    width: 65%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    font-family: 'Trebuchet MS', Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 80px;
    margin-bottom: 1px;
    text-align: center;
}

h2 {
    font-family: 'Trebuchet MS', 'Times New Roman', Times, serif, sans-serif;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-family: 'Trebuchet MS', 'Times New Roman', Times, serif, sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: white !important;
    text-shadow: 1px 1px 2px black;
}


#relatedKeywords {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background: #75757585;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#containerspecial {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;

}

#relatedKeywords span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', Georgia, 'Times New Roman', Times, serif;

}

#loading {
    font-size: 18px;
    color: #cfcfcf;
    display: none;
    text-align: center;
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    /* 水平居中對齊 */
    gap: 10px;
    /* 按鈕之間的間距 */
}

.button-container button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}


button:hover {
    background-color: #0056b3;
}

button {
    display: none;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}




.back-button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #45a049;
}

#results p {
    font-family: 'Trebuchet MS', Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}