<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>Movie Search</title>
</head>

<body>

    <div id="left"></div>
    <div id="box">
        <h1>DAMN</h1>
        <br>
        <h2>Discover Awesome Movies Now</h2>
        <br>
        <form id="searchForm">
            <input type="text" id="searchInput" placeholder="Enter movie name..." required>
            <button type="submit" onclick="changeStyle()">Search</button>
        </form>
        <div id="errorMessage"></div>
    </div>
    <div id="right">
        <div id="containerspecial">
            <div id="results"></div>
            <div class="button-container">
                <button id="prevPage" disabled>Previous</button>
                <button id="nextPage">Next</button>
            </div>
        </div>
    </div>





    <script>
        function loadscript(url) {
            var script = document.createElement('script')
            script.type = "text/javascript"
            script.src = url
            document.head.appendChild(script)
        }
        loadscript('searchscript.js')



        function loadstyle(url) {
            var link = document.createElement('link')
            link.type = 'text/css'
            link.rel = 'stylesheet'
            link.href = url
            var head = document.getElementsByTagName('head')[0]
            head.appendChild(link)
        }
        loadstyle('searchstyle.css')

    </script>
</body>

</html>